<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
  <footer>
  <p>“Education is the most powerful weapon which you can use to change the world.” – Nelson Mandela</p>
</footer>
  
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      {% for item in site.nav %}
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% endfor %}
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© 2025 Natesh B V</p>
  </footer>
</body>
</html>

